<h3>Student Signup Page: </h3>

<form action="">

    <label for="">Name:</label> <br/>
    <input (input)="data.name=$event.target.value" /> <br/>

    <label for="">Email:</label> <br/>
    <input (input)="data.email=$event.target.value" type="email" /> <br/>

    <label for="">Password:</label> <br/>
    <input (input)="data.password=$event.target.value" type="password" /> <br/>

    <button (click)="signupAsStudent()">Signup As Student</button>

    <p>Already have an account?
        <a routerLink="/login" routerLinkActive="active">Back to Login</a></p>
</form>